<h2>Liste des Auteurs</h2>

<div *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading && auteurs && auteurs.length > 0; else noAuteurs">
  <div class="row flex">
    <div class="card col-3 m-3" style="width: 18rem;" *ngFor="let auteur of auteurs">
      <img src="{{ auteur.photo }}" class="card-img mt-2" alt="photo de profil de l'auteur">
      <div class="card-body">
        <h5 class="card-title">{{ auteur.nom }} {{ auteur.prenom }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Naît le : {{ auteur.dateNaissance | date: 'dd/MM/yyyy' }} à {{ auteur.nationalite }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Décédé le : {{ auteur.dateDeces | date: 'dd/MM/yyyy' }}</h6>
          <p class="card-text">{{auteur.description}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

<ng-template #noAuteurs>
  <div *ngIf="!loading" class="alert alert-primary d-flex align-items-center mt-4" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      Aucun auteur trouvé.
    </div>
  </div>